<%= form_with(model: equipment, local: true) do |form| %>
  <% if equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_area :model %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :lpo_number %>
    <%= form.text_field :lpo_number %>
  </div>

  <div class="field">
    <%= form.label :date_supplied %>
    <%= form.datetime_select :date_supplied %>
  </div>

  <div class="field">
    <%= form.label :supplier %>
    <%= form.text_area :supplier %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status %>
  </div>

  <div class="field">
    <%= form.label :kcca_number %>
    <%= form.text_field :kcca_number %>
  </div>

  <div class="field">
    <%= form.label :equipment_name %>
    <%= form.text_field :equipment_name %>
  </div>

  <div class="field">
    <%= form.label :equipment_type %>
    <%= form.text_field :equipment_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
